<div class="card-item" style={{style}}>
  <div class="card-body">
    {{model.title}}
  </div>
  <div class="card-stats">
    <div class="stat-button">
      {{paper-icon icon="thumb-up" size="sm"}} 
      <span>{{model.votes}}</span>
    </div>
  </div>
  {{yield}}
</div>
